:root {
  --brand-main-font: "Bookman Old Style", "Times New Roman", Georgia, serif;
  --brand-second-font: "Roboto", sans-serif, Arial, sans-serif;

  --brand-main-color: #df803e;
  --brand-black-color: #000;
  --brand-white-color: #fcfcfc;

  --disabled-btn-color: #c9c9c9;
  --disabled-text-color: #5c5c5c;
  --main-01: #5c5c5c;
}
